[submodule "simulator-service-testing"]
	path = simulator-service-testing
	url = https://github.com/hems07293-arch/simulator-service-testing.git
[submodule "envoy-manager-service"]
	path = envoy-manager-service
	url = https://github.com/hems07293-arch/envoy-manager-service.git
