spring:
  datasource:
    url: jdbc:mysql://hems-auth.czkgccwqed1c.ap-south-1.rds.amazonaws.com:3306/site_service
    username: hems
    password: Hems#Einfochips

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  main:
    allow-bean-definition-overriding: true
  threads:
    virtual:
      enabled: true
  application:
    name: SITE-SERVICE-HEMS
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-0x5bg1uy1egiz4y0.us.auth0.com/
          scope:
            - email


server:
  port: 8081

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8091/eureka


