spring:
  application:
    name: api-gateway-hems
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-0x5bg1uy1egiz4y0.us.auth0.com/
          audiences:
            - https://api.mfa01.com

      client:
        registration:
          auth0:
            client-id: 
            client-secret: 
            authorization-grant-type: authorization_code
            scope:
              - openid
              - profile
              - email
              - offline_access

        provider:
          auth0:
            issuer-uri:
  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - TokenRelay
          routes:
            - id: site-service-route
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/owner/**,/api/v1/site/**,/check-token-is-present/**

            - id: auth-service-route
              uri: http://localhost:8082
              predicates:
                - Path=/auth/**

            - id: vpp-service-route
              uri: http://localhost:8086
              predicates:
              - Path=/vpp/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8091/eureka

server:
  port: 8090