spring:
  application:
    name: auth-service-hems


  security:
    oauth2:
      client:
        registration:
          auth0:
            client-id: 
            client-secret: 
            scope:
              - openid
              - profile
              - email
              - offline_access

        provider:
          auth0:
            issuer-uri: https://dev-0x5bg1uy1egiz4y0.us.auth0.com/


      resourceserver:
        jwt:
          issuer-uri: https://dev-0x5bg1uy1egiz4y0.us.auth0.com/
          audiences:
            - https://api.mfa01.com
  datasource:
    url: jdbc:mysql://hems-auth.czkgccwqed1c.ap-south-1.rds.amazonaws.com:3306/hems_auth
    username: hems
    password: Hems#Einfochips

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  main:
    allow-bean-definition-overriding: true
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8091/eureka

server:
  port: 8082